body {
  box-sizing: border-box;
  margin: 0;
}

.hamburger {
  top: 20px;
  left: 10px;
  position: fixed;
  z-index: 10000;
}

.hamburger:focus, .hamburger:active {
  outline: none;
}

.menuFromBurger {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  color: white;
  height: 100vh;
  width: 350px;
  position: fixed;
  top: 0;
  left: -100vw;
  border-right: 5px solid black;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.83);
  transition: all 300ms ease-in;
  z-index: 1000;
}

.menuFromBurger h2{
  font-size: 35px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0px rgb(110, 48, 209);
}

.menuShowOnClick {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
}

.button {
  color: black;
  margin-top: 20px;
  z-index: 10;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  background-color: white;
  text-decoration: none;
  -webkit-box-shadow: 4px 4px 0px 0px rgb(110, 48, 209);
  -moz-box-shadow: 4px 4px 0px 0px rgb(110, 48, 209);
  box-shadow: 4px 4px 0px 0px rgb(110, 48, 209);
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(2px);
  -webkit-box-shadow: 2px 2px 0px 0px rgb(110, 48, 209);
  -moz-box-shadow: 2px 2px 0px 0px rgb(110, 48, 209);
  box-shadow: 2px 2px 0px 0px rgb(110, 48, 209);
  cursor: pointer;
}

.button:active {
  background-color: white;
}
.button:focus {
  background-color: white;
}

/* LANDING PAGE GENERAL */
.landing-page {
  height: 105vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/landing.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.overlay {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(72, 87, 230, 0.95);
  height: 105vh;
  width: 100vw;
}

hr {
  border: 2px solid white;
  background-color: white;
  max-width: 60vw;
}

/* CONTENT LANDING */
.text-content-landing {
  z-index: 10;
  transition: all 0.7s ease-in-out;
}

.landing-page h1, .landing-page h2, .landing-page h3 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.landing-page h1 {
  margin: 0;
  font-size: 80px;
  font-weight: 1000;
}

.landing-page h2 {
  margin: 0;
  font-size: 45px;
}

.landing-page h3 {
  font-size: 25px;
}


.contact-social {
  height: auto;
  width: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.social-icons {
  margin-top: 20px;
}

.icon {
  width: 45px;
  height: 45px;
  margin: 5px;
  padding: 5px;
  transition: all 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
}


.scroll {
  position: absolute;
  z-index: 20;
  color: white;
  bottom: 10px;
  left: 50%;
  font-size: 70px;
  transition: all 0.5s ease-in;
  animation-name: scroll;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}

.scroll:hover {
  cursor: pointer;
}


@keyframes scroll {
  0% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, 8px);
  }
}

@media only screen and (max-width: 450px) {

  .landing-page {
    justify-content: space-around;
  }

  .landing-page h1 {
    font-size: 45px;
  }

  .landing-page h2 {
    font-size: 30px;
  }

  .landing-page h3 {
    font-size: 25px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 1000px) {


  .landing-page h1 {
    font-size: 50px;
  }

  .landing-page h2 {
    font-size: 35px;
  }

  .landing-page h3 {
    font-size: 30px;
  }
}

.hide-landing {
  opacity: 0;
  transform: translateY(-60px);
  pointer-events: none;
}


nav {
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

nav ul {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding: 0;
}

nav ul li {
  color: white;
  display: inline;
  margin: 0 40px;
}

nav ul li:hover {
  cursor: pointer;
}

/* COOL GREJ! */
.menu-item:after {
  display:block;
  content: '';
  border-bottom: solid 2px white;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
}

.menu-item:hover:after { transform: scaleX(1); }

.behind-navbar {
  height: 60px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.page-break {
  margin: 0;
  width: 100%;
  border: 2px solid white
}

/* PROFTOLIO PAGE */
.portfolio-page {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #e54958;
}

.sub-section h2 {
  font-size: 50px;
  margin: 25px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.sample-work {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  max-width: 80vw;
  height: auto;
  min-height: 500px;
  border: 1px solid white;
  margin-bottom: 40px;
  padding: 20px 20px 10px 20px;
}

.project {
  width: 300px;
  height: 200px;
  background-color: black;
  -webkit-box-shadow: 7px 7px 0px 0px #fff;
  -moz-box-shadow: 7px 7px 0px 0px #fff;
  box-shadow: 7px 7px 0px 0px #fff;
  margin: 10px;
  margin-bottom: 25px;
  transition: all 0.2s ease-in-out;
}

.project:hover {
  transform: translateY(3px);
  -webkit-box-shadow: 2px 2px 0px 0px #fff;
  -moz-box-shadow: 2px 2px 0px 0px #fff;
  box-shadow: 2px 2px 0px 0px #fff;
}

@media only screen and (min-width: 450px) {
  .project {
    width: 450px;
    height: 250px;
    background-color: black;
    -webkit-box-shadow: 7px 7px 0px 0px #fff;
    -moz-box-shadow: 7px 7px 0px 0px #fff;
    box-shadow: 7px 7px 0px 0px #fff;
  }
}

@media only screen and (max-width: 450px) {
  .project {
    width: 300px;
    height: 220px;
    background-color: black;
    -webkit-box-shadow: 7px 7px 0px 0px #fff;
    -moz-box-shadow: 7px 7px 0px 0px #fff;
    box-shadow: 7px 7px 0px 0px #fff;
  }
}

.other-projects {
  color: white;
}


/* ABOUT PAGE */

.about-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  background-color: #e5d649;
}

.about-content {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-me, .about-skills {
  flex: 1;
}

.cloud-skills {
  height: 350px;
  width: 350px;
}

/* FOOTER */

footer {
  width: 100vw;
  height: 50vh;
  background-color: black;
}
