html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background-color: salmon;
  margin: 0 auto;
  width: 85%;
  height: 100vh;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }
}
